* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:rgb(224, 222, 222) ;
}
.second-column-main {
    background: white;
}

.sub-columns {
    display: grid;
    grid-template-columns: 32% 32% 33%;
    background-color:rgb(224, 222, 222) ;
    height: 50%;
    border: transparent;
}

.sidebar, .header, .main-content1, .main-content2, .activity-bar {
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(40, 165, 243);
    grid-template-columns: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
}

#logo {
    max-width: 100px;
    height: auto;
}

#brand-name {
    font-size: 2rem; /* Larger text */
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;
}

.admin-links {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 1rem;
}

.nav-links a, .admin-links a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}
a:visited, a:link {
    text-decoration: none;
}

.nav-icon {
   display: flex;
   filter: invert(1);
   margin-right: 10px;
}

.header {
    height: 30%;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}


.header-bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
}

.action-buttons {
   display: flex;
   gap: 1rem;
   margin-right: 20px;
   padding-top: 20px;
    align-items:flex-end;
}
button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(40, 165, 243);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
    cursor: pointer;
   }
   
   button:hover::before {
    width: 100%;
   }
.profile-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 10px 10px 20px;
    position: absolute;
    gap: 1rem;
    border-radius: 0px 25px 25px 0px;
}

#profile-picture {
    border-radius: 50%;
    margin-left: 0px;
}
.description {
    width: 100vw;
    height: 50px;
    margin-left: 20px;
    display: flex;
}

.description #projects {
    align-self: flex-end;
    font-size: 25px;
}

.main-content1, .main-content2, .activity-bar {
    margin: 0px 10px 20px 20px ;
    display: grid;
    gap: 1rem;
}

.main-content1 {
    grid-column-start: 1;
}


.block {
    border: 6px solid;
    border-color:rgba(255, 255, 255, 0) rgba(252, 252, 252, 0) rgba(255, 255, 255, 0)  rgb(40, 165, 243);;
    padding: 15px;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

/* ----------------------------------- */
/* Interactive Search Bar */
.search-container {
    display: flex;
    align-items: center ;
    margin-left: 0px;
}

.flexbox {
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  }
  
  .search {
    margin: 20px;
  }
  
  .search > h3 {
    font-weight: normal;
  }
  
  .search > h1,
  .search > h3 {
    color: white;
    margin-bottom: 15px;
  }
  
  .search > div {
    display: inline-block;
    position: relative;
  }
  
  .search > div:after {
    content: "";
    background: rgb(40, 165, 243);
    width: 4px;
    height: 20px;
    position: absolute;
    top: 31px;
    right: -4px;
    transform: rotate(135deg);
  }
  
  .search > div > input {
    color: rgb(40, 165, 243);
    font-size: 25px;
    background: transparent;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: solid 3px rgb(40, 165, 243);
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
    cursor: pointer;
  }
  
  .search > div > input::placeholder {
    color: rgb(40, 165, 243);
    opacity: 0;
    transition: opacity 900ms ease-out;
  }
  
  .search > div > input:focus::placeholder {
    opacity: 1;
  }
  
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 250px;
  }